<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8" />
    <title>Example Client</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" />
    <style>
      body {
        padding-top: 20px;
        padding-left: 20px;
      }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
<body>
<div class="page-header">
  <h1>Bowling Buddy <small> Choose your frame</small></h1>
</div>
<div class="container">
<!-- <button type="button" id='S' class="btn">Save swing</button> -->
<div class="row">
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group-addon">
	 {% for frame in frames  %}
           <input type="checkbox" onclick="compare_frame({{frame}})">Frame {{frame}}</input>
          {% if forloop.counter|divisibleby:3 %}
          <br/>
          {% endif %}
         {% endfor %}
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
</div>
<button type="button" id="C" class="btn btn-default">
  <span class="glyphicon glyphicon-star"></span> Compare
</button>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script>
    count = 0;
    frames = '';
    $('#C').on('click', function (e) {
           console.log(frames);
           location.href = "http://127.0.0.1:8000/plotdata/compare/" + frames;
    })
    $('#S').on('click', function (e) {
           swings = frames.split('/')
  	   url = swings[0]
           for (var i=1;i<swings.length-1;i++)
           { url = url + "&" + swings[i]; }
           location.href = "http://127.0.0.1:8000/plotdata/save/" + url;
    })
    function compare_frame(frame){
      frames = frames + frame + "/"
      count = count + 1;
      if (count > 2){ alert("You can select only 2 for comparison!! But you can select more for saving!"); }
    }
    </script>
</body>
</html>
